
<body>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
   
      <div class="carousel-inner">
        <div class="item">
     <img src="Content/4.1p.jpg" />
            <div class="container">
            <div class="carousel-caption">
              <div class=ner><h1><a href:"#">Музыка</a></h1></div>
              <p>НЕотъемлемая часть моей жизни</p>
            </div>
          </div>
        </div>
        <div class="item active">
  <img src="Content/8.1p.jpg">
            <div class="container">
            <div class="carousel-caption">
               <div class=ner><h1><a href:"#">Культура</a></h1></div>
              <p>ТО без чего человек превращается в животное</br></p>
              
            </div>
          </div>
        </div>
        <div class="item">

<img src="@Url.Content("~/Content/3.1p.jpg")" />
           <div class="container">
             <div class="carousel-caption">
               <div class=ner><h1><a href:"#">Культура</a></h1></div>
              <p>Что там в жизни происходит?</p>
          
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="">
              
          </span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="">
             
          </span>

      </a>
    </div>
        
    <div class="container marketing">
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script><script src="../../docs-assets/js/holder.js"></script><script src="../../docs-assets/js/holder.js"></script><script src="../../docs-assets/js/holder.js"></script><script src="../../docs-assets/js/holder.js"></script><script src="../../docs-assets/js/holder.js"></script><script src="../../docs-assets/js/holder.js"></script>
        <script src="../../docs-assets/js/holder.js"></script>
    </div>
    </body>

 