<div class="nav">   
<div class="container">
    <div class="row">
        <div class="span1 bs-docks-sidebar">
                <ul class="nav nav-list bs-docks-sidenav affix">
                    <li><a href="#">пункт 1</a></li>
                    <li><a href="#">пункт 2</a></li>
                    <li><a href="#">пункт 3</a></li>
                    <li><a href="#">пункт 4</a></li> 
                </ul>
        </div>
    </div>
</div>
</div>